<h1>Coin combinations</h1>
<hr>
<div class="form-group">
  <form action="/results" method="get" name="input">
    <div>
      <h2>Enter you value</h2>
      <input id="input" name="input" type="text">
    </div>
    <br>
    <hr>
    <button type= "submit" name="button" class="btn btn-primary">Go!</button>
  </form>
</div>
